body#gsr.hp.vasq{
 background-image: url(“https://d2qh54gyqi6t5f.cloudfront.net/boat_images/9/9400/9400547/bayliner-842-overnighter-2018-for-sale-prague-001.jpg");
}
div.gb_xe.gb_R.gb_Me.gb_Ee {
 font-weight: bold;
 font-size: 15px;
}